.formulario {
    width: 100%;
}
.campo {
    display: flex;
    margin-bottom: 2rem;

    label{
        flex: 0 0 10rem;
        color: $blanco;
    }
    input{
        flex: 1;
        border-radius: .5rem;
        border: none;
        padding: $separacion / 5;
    }
}
.alerta {
    padding: $separacion / 2;
    text-align: center;
    width: 100%;
    display: block;
    &.error {
        background-color: red;

    }
}